div {
  width: 100%;
}
li,ul {
  list-style-type: none;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.App > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.covid-dashboard,
.covid-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.covid-dashboard-list{
  padding: unset;
}
.covid-dashboard-list > li {
  display: flex;
  flex-direction: row;
  
}
.popup-creatData,
.popup-editData {
  display: none;
}
.submit-form {
  margin-top: 2rem;
}
.submit-form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25rem;
}
.submit-form > div > input {
  padding: 0.5rem;
  width: 300px;
  border-radius: 0.25rem;
  border: 1px solid gray;
}
.submit-form > button {
  padding: 0.75rem;
  margin-top: 1rem;
  width: 100px;
  border-radius: 0.5rem;
  border: 1px solid gray;
}
.error-mess {
  color: red;
  font-size: 0.75rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
